body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    padding-left: 10px;
    padding-right: 10px;
    color: #393E46;
    background-color: #fff;
    margin: 10px;
}

* {
    box-sizing: border-box;
}

.header { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.header-item { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}