$color_1: #fff;
$font-family_1: 'Noto Sans', sans-serif;
$background-color_1: #0A2647;

// these are differenet color combos for the background color
// #144272 , #205295 , #2C74B3


body {
	font-family: $font-family_1;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	padding-left: 10px;
	padding-right: 10px;
	color: $color_1;
	background-color: $background-color_1;
	padding: 30px;
}

* {
	box-sizing: border-box;
}

.header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.header-item {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	font-size: 50px;
}
.header-item span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    -webkit-animation: header-item 1s infinite; // this is browser support
    -webkit-animation-delay: calc(.1s * var(--i)); // this is browser support
	-webkit-animation-iteration-count: 2; // this is browser support
    animation: header-item 1.5s infinite;
    animation-delay: calc(.1s * var(--i));
	animation-iteration-count: 2;
}
// this webkit is for browser support 
@-webkit-keyframes header-item {
	0%,40%,100% {
	  transform: translateY(0)
	}
	20% {
	  transform: translateY(-20px)
	}
}
@keyframes header-item { // this keyframes is connecting the the header-item above to perform the animation
	0%,40%,100% {
	  transform: translateY(0)
	}
	20% {
	  transform: translateY(-40px) // this is how hight the letters will go and come back down
	}
}